@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.blinking {
  animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.bg-grey {
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; /* Ajusta el margen según sea necesario */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacio entre los elementos */
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-text {
  font-size: 16px;
}

/* Añade estos estilos a tu archivo CSS global o específico del componente */

.custom-table .p-datatable-thead > tr > th {
  font-size: 1.2rem; /* Aumenta el tamaño de la fuente de los encabezados */
  font-weight: bold; /* Hace que las letras sean más gruesas */
  color: #3399b1; /* Cambia el color del texto a negro */
}

.custom-table .p-datatable-tbody > tr > td {
  font-size: 1rem; /* Tamaño de la fuente de los datos */
  color: #333; /* Color de los datos */
}

.custom-table .p-datatable-tbody > tr > td.status-column {
  font-weight: bold; /* Hace que el texto del estado sea más grueso */
}

.bg-green-100 {
  background-color: #d4edda; /* Fondo verde claro */
}

.text-green-800 {
  color: #155724; /* Texto verde oscuro */
}

.bg-yellow-100 {
  background-color: #fff3cd; /* Fondo amarillo claro */
}

.text-yellow-800 {
  color: #856404; /* Texto amarillo oscuro */
}

.bg-red-100 {
  background-color: #f8d7da; /* Fondo rojo claro */
}

.text-red-800 {
  color: #721c24; /* Texto rojo oscuro */
}
