@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.blinking {
  animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.bg-grey {
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; /* Ajusta el margen según sea necesario */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacio entre los elementos */
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-text {
  font-size: 16px;
}
